main {
  display: block;
  margin: 3%;
}

aside {
  display: block;
  max-height: 100px;
}

#title {
  color: black;
  text-align: center;
}

nav {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#color-palette {
  border: 3px solid grey;
  box-sizing: border-box;
  padding: 10px;
  max-width: 50%;
  text-align: center;
  margin: auto;
}

.color {
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  height: 70px;
  width: 70px;
  padding: 10px;
  background-color: blue;
}

tbody {
  border-spacing: 0;
}

#pixel-board {
  width: 200px;
  height: 200px;
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.pixel {
  border: 1px solid black;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  min-height: 40px;
  max-height: 40px;
  min-width: 40px;
  max-width: 40px;
  background-color: white;
}